@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/*-- Media Queries --*/

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .page-header-container {
        padding-top: 130px;
    }
}

@media (max-width: 992px) {

    .page-header-container {
        padding-top: 169px;
    }
}

.logo a {
    color: rgb(90, 89, 89);
    font-family: Special Elite;
    font-size: 45px;
    text-transform: uppercase;

}

.main-img {
    background: url('/media/holgateeng.jpg') no-repeat center;
    background-size: cover;
    height: calc(100vh - 150px);
    position: relative;
}

.img-container {
    margin: 0px;
}

.services {
    display: inline-block;
}

.services-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}