@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');



.logo a {
    color: rgb(90, 89, 89);
    font-family: Special Elite;
    font-size: 45px;
    text-transform: uppercase;

}

#main-nav {
    background-color: rgb(226, 223, 223);
}

footer {
    background-color: rgb(226, 223, 223);
}

.main-img {
    background: url('/media/holgateeng.jpg') no-repeat center;
    background-size: cover;
    height: calc(100vh - 150px);
    position: relative;
}

.img-container {
    margin: 0px;
}

.services {
    display: inline-block;
    margin-top: 0px !important;
    margin-bottom: 15px !important;

}

.services-card {
    border-radius: 10px;
}

.services-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-container {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.textinput {
    border: solid 1px grey;
    width: 70% !important;
}

#id_request {
    height: 100px;
}

.control-group {
    margin-top: 10px;
}

.emailinput {
    border: solid 1 px grey;
    width: 70% !important;
}

.card-header {
    height: 300px;
}

#body-text {
    height: 150px;
    overflow-y: auto;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(119, 119, 119, 0.61) !important;
}

#map {
    margin: 30px;
    border: solid 1px grey;
    border-radius: 10px;
}

.contact-btn {
    background-color: white;
    border: solid 1px grey
}

.contact-btn:hover {
    background-color: rgb(226, 223, 223);
    border: solid 1px rgb(226, 223, 223);
    font-weight: 500;
    color: rgb(90, 89, 89);
}

body {
    height: 100%;
}