<div class="navbar collapse navbar-collapse" id="nav">
    <ul class="navbar-nav w-auto mx-lg-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about_us' %}" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'services' %}" aria-expanded="false">
                Our Services
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>