{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}
<style type="text/css">
    #map {
        min-height: 330px;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container page-header-container mb-3">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="row mt-2">
    <div class="col-12 col-md-5 mx-auto">
        <hr>
        <h2 class="text-center">Get in Touch</h2>
        <hr>
        <div class="text-center form-container shadow p-2 m-2">
            <form action="{% url 'contact' %}" method="POST" class="rounded">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-3">
                    {{ contact_form.full_name | as_crispy_field }}
                    {{ contact_form.email | as_crispy_field }}
                    {{ contact_form.phone_number | as_crispy_field }}
                    {{ contact_form.request | as_crispy_field }}

                </fieldset>
                <button type="submit" class="contact-btn mb-2">Send</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-5 mx-auto">
        <hr>
        <h2 class="text-center">Where to find us</h2>
        <hr>
        <div class="card services-card shadow text-center m-2">
            <div class="map-header p-0">
                <div id="map" class="h-100 m-2">

                </div>
            </div>
            <div class="card-body text-center">
                Holgate Engineering, Main Street,<br> Cononley, Keighley BD20 8LJ

            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block postloadjs %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb15O7pfelAbTgb4fsq6016mJr6odvli4&callback=initMap" async defer></script>
<script src="{% static 'contact/js/map.js' %}"></script>
{% endblock %}