{% extends "base.html" %}

{% load static %}



{% block page_header %}
<div class="container page-header-container">
    <div class="row">

    </div>
</div>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-11 col-md-7 mx-auto text-center">
        <div class="mx-auto mt-5 p-5 shadow thank-you">
            <p class="pb-3">Thank you for contacting us, we will be in touch shortly.</p>
            <p class="pb-3">If your query is urgent please contact us on <strong>01535 632362</strong></p>
            <p>Find out about the services we offer <a href="{% url 'services' %}" class="icon"><i class="fas fa-circle-arrow-right"></i></a></p>
        </div>
    </div>
</div>


{% endblock %}