{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<style type="text/css">
    #map {
        min-height: 330px;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">Contact Us</div>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        Get in Touch
        <div>
            <form action="" method="POST" class="rounded">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label text-black px-2 w-auto">Your Details</legend>
                    {{ .full_name | as_crispy_field }}
                    {{ .email | as_crispy_field }}
                    {{ .phone_number | as_crispy_field }}
                    {{ .request | as_crispy_field }}

                </fieldset>
                <button type="submit" class="buttons rounded">Send</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div id="map" class="h-100">

        </div>
    </div>
</div>


{% endblock %}
{% block postloadjs %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUAFYHDp1-gHZaCgXKJRhkGutt_PosGzs&callback=initMap"></script>
<script src="{% static 'contact/js/map.js' %}"></script>
{% endblock %}