{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}
<style type="text/css">
    #map {
        min-height: 330px;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container page-header-container mb-3">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="row mt-2 mb-4">
    <div class="col-11 col-md-5 mx-auto mt-2">
        <hr>
        <h2 class="text-center">Get in Touch</h2>
        <hr>
        <div class="text-center form-container shadow p-2 m-2">
            <form action="{% url 'contact' %}" method="POST" class="rounded">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-3">
                    {{ contact_form.full_name | as_crispy_field }}
                    {{ contact_form.email | as_crispy_field }}
                    {{ contact_form.phone_number | as_crispy_field }}
                    {{ contact_form.request | as_crispy_field }}

                </fieldset>
                <button type="submit" class="contact-btn mb-2">Send</button>
            </form>
        </div>
    </div>
    <div class="col-11 col-md-5 mx-auto mt-2">
        <hr>
        <h2 class="text-center">Where to find us</h2>
        <hr>
        <div class="card services-card shadow text-center m-2">
            <div class="map-header p-0">
                <div id="map" class="h-100 m-2">

                </div>
            </div>
            <div class="card-body text-center">
                Holgate Engineering, Main Street,<br> Cononley, Keighley BD20 8LJ

            </div>
        </div>

    </div>
    <div class="col-11 col-lg-8 col-md-10 shadow mt-2 mx-auto contact-info mt-3">
        <div class="row p-3">
            <div class="col-11 col-md-5 col-lg-6 mx-auto mt-2 text-center p-0">
                <i class="fas fa-phone-alt"></i> 01535 632362
            </div>
            <div class="col-11 col-md-5 col-lg-6 mx-auto mt-2 text-center p-0">
                <i class="fas fa-envelope"></i> office@holgateeng.com
            </div>
            <div class="col-11 mx-auto mt-2 text-center facebook">
                <a href="https://www.facebook.com/holgateeng" target="_blank"><i class="fab fa-facebook"></i> Follow us on Facebook</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block postloadjs %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb15O7pfelAbTgb4fsq6016mJr6odvli4&callback=initMap" async defer></script>
<script src="{% static 'contact/js/map.js' %}"></script>
{% endblock %}