{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">About Us</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row shadow m-4 ">
        <div class="col-11 col-md-7 m-auto p-2">
            <p>
                Established in 1969, Holgate Engineering is a family owned engineering company that has been passed down through the generations. Currently run by Brian & John who have over 60 years experience between them, Holgate Engineering offer a varied range of services.
            </p>
        </div>
        <div class="col-11 col-md-4 m-auto">
            Image
        </div>

    </div>


</div>






{% endblock %}