{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">About Us</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row shadow m-4 ">
        <div class="col-11 col-md-7 m-auto p-4">
            <p class="text-center">
                Established in 1969, Holgate Engineering is a family owned engineering company that has been passed down through the generations. Currently run by Brian & John who together have over 60 years experience, we offer a varied range of services. Whether you are looking for machinery repairs or parts for your classic car, Holgate Engineering has you covered. We are always happy to talk through your requirements & with a qualification in CAD design, John will be able to provide you with a visual representation before production.
            </p>
        </div>
        <div class="col-11 col-md-4 m-auto text-center">
            <div class="logo-img shadow mx-auto "></div>
        </div>

    </div>


</div>






{% endblock %}