{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Services</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="services-container">
            {% for service in services %}
            <div class="col-11 col-md-5 m-auto services">
                <div class="card services-card text-center">
                    <div class="card-header">
                        <div class="row services-img">
                            <img src="../{{MEDIA_URL}}/{{ service.image }}">


                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="mb-0 text-center">
                                {{ service.name }}
                            </h5>
                            {{ service.description }}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>



</div>
</div>


{% endblock %}