{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Services</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-3">
    <div class="services-container">
        <div class="row">

            {% for service in services %}
            <div class="col-11 col-md-5 m-auto services">
                <div class="card services-card shadow text-center">
                    <div class="card-header services-img p-0">
                        <img src="../{{MEDIA_URL}}/{{ service.image }}">



                    </div>
                    <div class="card-body text-center" id="body-text">

                        <h5 class="text-center">
                            {{ service.name }}
                        </h5>
                        {{ service.description }}


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>



</div>
</div>


{% endblock %}